In [1]:
from PIL import Image
import numpy as np
import pandas as pd
import glob

In [2]:
df=pd.read_csv("Train.csv")
df = df.drop('Unnamed: 0', 1)
df

Empty DataFrame
Columns: [pixel1, pixel2, pixel3, pixel4, pixel5, pixel6, pixel7, pixel8, pixel9, pixel10, pixel11, pixel12, pixel13, pixel14, pixel15, pixel16, pixel17, pixel18, pixel19, pixel20, pixel21, pixel22, pixel23, pixel24, pixel25, pixel26, pixel27, pixel28, pixel29, pixel30, pixel31, pixel32, pixel33, pixel34, pixel35, pixel36, pixel37, pixel38, pixel39, pixel40, pixel41, pixel42, pixel43, pixel44, pixel45, pixel46, pixel47, pixel48, pixel49, pixel50, pixel51, pixel52, pixel53, pixel54, pixel55, pixel56, pixel57, pixel58, pixel59, pixel60, pixel61, pixel62, pixel63, pixel64, pixel65, pixel66, pixel67, pixel68, pixel69, pixel70, pixel71, pixel72, pixel73, pixel74, pixel75, pixel76, pixel77, pixel78, pixel79, pixel80, pixel81, pixel82, pixel83, pixel84, pixel85, pixel86, pixel87, pixel88, pixel89, pixel90, pixel91, pixel92, pixel93, pixel94, pixel95, pixel96, pixel97, pixel98, pixel99, pixel100, ...]
Index: []

[0 rows x 784 columns]

In [3]:
img =[Image.open(file).convert('L') for file in glob.glob(r"C:\Users\Huawei\Desktop\boots\*.jpg")]

In [4]:
for image in img:
    resized_img = image.resize((28, 28))
    data_3d = np.asarray(resized_img, dtype="int32")
    data = data_3d.reshape(-1)
    new_series =pd.Series(data, index = df.columns)
    #transed.append(new_series)
    df = df.append(new_series, ignore_index=True)

In [5]:
df

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235
1,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235
2,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235
3,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235
4,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235
5,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235
6,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235
7,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235

In [6]:
df['label']=9
df

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784,label
0,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,9
1,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,9
2,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,9
3,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,9
4,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,9
5,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,9
6,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,9
7,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,9

In [7]:
df.to_csv('boots.csv')

In [8]:
df0=pd.read_csv("Full.csv")
df1=pd.read_csv("shirts.csv")
df2=pd.read_csv("boots.csv")
df3=pd.read_csv("Scandel.csv")
df4=pd.read_csv("sneakers.csv")
#df5=pd.read_csv("pullover.csv")

df=pd.concat([df0,df1,df2,df2,df3,df4,df5],ignore_index=True)

NameError: name 'df5' is not defined

In [ ]:
df.to_csv('Full_2.csv')
df = df.drop('Unnamed: 0', 1)
df

In [2]:
# tries of coding differentlly

#images = [cv2.imread(file)for file in glob.glob(r"C:\Users\Huawei\Desktop\Photos_T shirts\*.jpg")]
#len(images)

#transed=[]
#len(transed)